<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href="@{./css/style.css}"/>
    <title>GuessNumber : Blond edition : 2023</title>
</head>
<body>


<div class="empty">&nbsp;</div>

<div class="enternameview_top">
    <div class="enternameview_top_text">
        To start the game, please enter your name below !
        <h1>☺</h1>
        <!--TODO put validator-->
        <form action="#" th:action="@{/register}" method="post" th:object="${user}" >
            <label>&nbsp;&nbsp;&nbsp;</label>
            Your name:
            <input type="text" th:field="*{userName}" /><br/>
            <br/>
            <button type="submit">OK</button>
        </form>
    </div>
</div>

</body>
</html>
