<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href="@{./css/style.css}"/>
    <title>GuessNumber : Blond edition : 2023 - first input</title>
</head>
<body>

<div class="empty">&nbsp;</div>


<div class="enternameview_top">
    <div class="enternameview_top_text">
        Enter your number:<br>
        <form action="#" th:action="@{/enterTheNumber}" method="post" th:object="${EnterNumber}">
            <label>&nbsp;</label>
            <br>
            <input type="text"     th:field="*{userNumber}" />
            <br><br>
            <button type="submit">Ok</button>
        </form>

    </div>
</div>

</body>
</html>