<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href="@{./css/style.css}"/>
    <title>GuessNumber : Blond edition : 2023 _.... game</title>
</head>
<body>


<div class="empty">&nbsp;</div>


<div class="enternameview_top">
    <div class="enternameview_top_text">


        Here are your attempts!


        <table>
            <th:block th:each="attempt : ${enteredNumbers}">
                <td th:text="${attempt}"></td>

            </th:block>
        </table>
        <br>




        <!--<td>-->
        <!--    <span th:if="${LastEnteredNumber.getUserNumber() > user.getComputerNumber()}">Previous entered number is greater than target!</span>-->
        <!--    <span th:unless="${LastEnteredNumber.getUserNumber() < user.getComputerNumber()}">Previous entered number is less than target!</span>-->
        <!--</td>-->




        <br>

        Try one more time!

        <form action="#" th:action="@{/enterTheNumber}" method="post" th:object="${EnterNumber}">
            <br><label>Enter Number:</label>

            <input type="text"     th:field="*{userNumber}"   />
            <br><br>
            <button type="submit">Ok</button>
        </form>



    </div>
</div>

</body>
</html>