<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href="@{./css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>GuessNumber : Blond edition : 2023 _.... game</title>
</head>
<body>
<script type="text/javascript" th:src="@{./js/numberInputCheck.js}"></script>

<div class="empty">&nbsp;</div>


<div class="enternameview_top">
    <div class="enternameview_top_text">


        Here are your attempts!


        <table>
            <th:block th:each="attempt : ${enteredNumbers}">
                <td th:text="${attempt}"></td>

            </th:block>
        </table>
        <br>

        <br>

        Try one more time!

        <form action="#" th:action="@{/enterTheNumber}" method="post" th:object="${EnterNumber}">
            <br><label>Enter Number:</label>

            <input class="input-range" type="text" data-min="1" data-max="100" th:field="*{userNumber}"
                   placeholder="your guess number"/>

            <br/>
            <td th:text="${hint}"></td>


            <ul>
                <li th:each="err : ${#fields.errors('userNumber')}" th:text="${err}" class="error"/>
            </ul>


            <br><br>
            <button type="submit">Ok</button>
        </form>


    </div>
</div>

</body>
</html>