<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href="@{./css/style.css}"/>
    <title>GuessNumber : Blond edition : 2023... you failed!</title>
</head>
<body>


<div class="empty">&nbsp;</div>

<div class="enternameview_top">
    <div class="enternameview_top_text">

        you failed!<br>try one more time!

        <br>
        <!--<form action="#" th:action="@{/enterTheNumber}" method="get" >-->
        <!--    <br/>-->
        <!--    <button type="submit">Ok</button>-->
        <!--</form>-->
    </div>
</div>


</body>
</html>