<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' th:href="@{./css/style.css}"/>
    <title>GuessNumber : Blond edition : 2023 - YOU WIN!</title>
</head>
<body>


<div class="empty">&nbsp;</div>

<div class="enternameview_top">
    <div class="enternameview_top_text">


        YOU WIN <br><br>


        Press button to start again
        <br>
        <form action="#" th:action="@{/register}" method="get" >
            <br/>
            <button type="submit">Ok</button>
        </form>


    </div>
</div>
</body>
</html>